.*.dep
*.a
*.so
*.o
build/*
entityx/config.h
Makefile
html/
Vagrantfile
.vagrant
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
